<!DOCTYPE html>
<html>
<head>
    <title>Offensive Text Detector</title>
</head>
<body>
    <h1>Offensive Text Detector</h1>
    <form method="POST">
        <textarea name="text" rows="4" cols="50" placeholder="Enter English or Indonesian text...">{{ user_input }}</textarea>
        <br>
        <button type="submit">Check</button>
    </form>
        <h2>Result: {{ result }}</h2>
        {% if type %}
        <p>Type: {{ type }}</p>
         {% endif %}
        <h2>Confidence: {{ confidence }}%</h2>
<section class="footer">
    <p>Please access this link below to answer a questionnaire after using the app</p>
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfS3YenHsMiVff_QV1aOx9B6JO4ViTKrp8LPvKEtJ3g_vUN6w/viewform?usp=header" target="_blank">Link</a></p>
</section>
</html>